In [22]:
import gspread

In [23]:
gc = gspread.oauth(credentials_filename='credentials.json')

In [24]:
sht2 = gc.open_by_url('https://docs.google.com/spreadsheets/d/1xEqT4kghsaAZYTdN7SN9UHN31Ehx29OykbG1Mjpm-go/edit?gid=0#gid=0')

sht2

In [25]:
worksheet = sht2.get_worksheet(0)
worksheet = sht2.worksheet("Shopee")
worksheet

In [26]:
sht2.worksheets()

[<Worksheet 'Shopee' id:0>,
 <Worksheet 'Tokopedia' id:715003248>,
 <Worksheet 'TokoMargonda' id:1960044452>]

In [27]:
import pandas as pd

worksheet = sht2.worksheet("Shopee")
shopee = pd.DataFrame(worksheet.get_all_records())
worksheet = sht2.worksheet("Tokopedia")
tokopedia = pd.DataFrame(worksheet.get_all_records())
worksheet = sht2.worksheet("TokoMargonda")
margonda = pd.DataFrame(worksheet.get_all_records())

date = tanggal tercatatnya arrival

total_arrival = jumlah customer yang berkunjung (halaman produk + kunjungan toko)

channel = Channel penjualan Torch (value : Shopee, Tokopedia, Toko Margonda)

In [28]:
display(shopee.head())
display(tokopedia.head())
display(margonda.head())

         date  arrival
0  2023-01-01      443
1  2023-01-02      899
2  2023-01-03      576
3  2023-01-04      267
4  2023-01-05      271

         date  arrival
0  2023-01-01      263
1  2023-01-02      907
2  2023-01-03       31
3  2023-01-04      992
4  2023-01-05      602

         date  arrival_toko  arrival_toko_shopee  arrival_toko_tokopedia
0  2023-01-01            25                  229                      92
1  2023-01-02            48                    1                      17
2  2023-01-03            68                  493                      46
3  2023-01-04            48                  287                      88
4  2023-01-05            62                  232                      40

In [29]:
margonda["total_arrival"] = margonda["arrival_toko"]+margonda["arrival_toko_shopee"]+margonda["arrival_toko_tokopedia"]
margonda.head()

,date,arrival_toko,arrival_toko_shopee,arrival_toko_tokopedia,total_arrival
0,2023-01-01,25,229,92,346
1,2023-01-02,48,1,17,66
2,2023-01-03,68,493,46,607
3,2023-01-04,48,287,88,423
4,2023-01-05,62,232,40,334

In [30]:
len(shopee)+len(tokopedia)+len(margonda)

270

In [31]:
combined_df = pd.concat(
    [
        shopee.rename(columns={"arrival":"total_arrival"}).assign(channel='Shopee'),
        tokopedia.rename(columns={"arrival":"total_arrival"}).assign(channel='Tokopedia'),
        margonda[["date","total_arrival"]].assign(channel='Toko Margonda')
    ], 
    ignore_index=True
)
combined_df

           date  total_arrival        channel
0    2023-01-01            443         Shopee
1    2023-01-02            899         Shopee
2    2023-01-03            576         Shopee
3    2023-01-04            267         Shopee
4    2023-01-05            271         Shopee
..          ...            ...            ...
265  2023-03-27            827  Toko Margonda
266  2023-03-28            389  Toko Margonda
267  2023-03-29            135  Toko Margonda
268  2023-03-30            311  Toko Margonda
269  2023-03-31            837  Toko Margonda

[270 rows x 3 columns]

In [32]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

In [34]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import bs4
import pandas as pd

In [ ]:
# path_ke_driver = r'.\chromedriver.exe'
# service = Service(executable_path=path_ke_driver)
# service=service

user_data_path = r"C:\Users\dioni\AppData\Local\Google\Chrome\User Data" 
profile_directory = "Profile 3"

In [2]:
import time
import os
import undetected_chromedriver as uc # <-- 1. Import 'uc'

# URL target
url = "https://shopee.co.id/search?keyword=baju"

# Tidak perlu Service, tidak perlu Options (dia otomatis cari profil)
# Namun, kita bisa tambahkan path profil jika mau
# --- SOLUSI 2: Arahkan path langsung ke folder 'Profile 3' ---
base_path = r"C:\Users\dioni\AppData\Local\Google\Chrome\User Data"
profile_folder = "Profile 3"

# Buat path lengkap ke folder profil
# Hasilnya: C:\Users\dioni\AppData\Local\Google\Chrome\User Data\Profile 3
full_profile_path = os.path.join(base_path, profile_folder)
print(f"Mencoba memuat profil dari: {full_profile_path}")

try:
    # --- 2. GUNAKAN uc.Chrome() ---
    # Dia akan otomatis mencari chromedriver yang cocok
    driver = uc.Chrome(
        user_data_dir=full_profile_path,
    )
    # ------------------------------
    
    print(f"Mencoba membuka URL: {url}")
    driver.get(url)
    
    print("URL berhasil dibuka! Menunggu 15 detik...")
    time.sleep(1) 
    
    print(f"URL saat ini: {driver.current_url}")


except Exception as e:
    print(f"Gagal menjalankan driver atau membuka URL.")
    print(f"Error: {e}")

finally:
    if 'driver' in locals():
        input("Tekan Enter untuk menutup browser...")
        driver.quit()
        print("Driver ditutup.")

Mencoba memuat profil dari: C:\Users\dioni\AppData\Local\Google\Chrome\User Data\Profile 3
Mencoba membuka URL: https://shopee.co.id/search?keyword=baju
URL berhasil dibuka! Menunggu 15 detik...
URL saat ini: https://shopee.co.id/search?keyword=baju
Driver ditutup.